
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    background-image: url('images/bckrnd.jpeg'); 
    background-size: cover;
    background-position: center center; 
    background-attachment: fixed; 
}


header {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}


.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}

.side-nav ul {
    list-style: none;
    padding: 0;
}

.side-nav ul li {
    padding: 8px 16px;
}

.side-nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.side-nav ul li a:hover {
    background-color: #575757;
}


main {
    padding: 20px;
    color: white; 
}

.standard-image {
    max-width: 100%;
    height: auto;
}